body{
    background-color:  rgb(212, 217, 221);
}
.main-banner h3{
    text-align: center;
    font-size: 72px;
    color: rgb(15, 5, 199);
}
#dstq{
    color: rgb(0, 0, 0); 
}
.main-banner h3:hover{  
    cursor: pointer;
}
#lista li a{
    color:black
}
#lista li a:hover{
    color:aliceblue;
    background-color: rgb(15, 5, 199);
}
ul{
    text-align: center;
    list-style: none;
    display: flex;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-top: 100px;
}
li{
    margin-bottom: 25px;
    margin-left: 25px;
    font-size: 42px;
}
li a{
    text-decoration: none;
    color:rgb(15, 5, 199);
}
li a:hover{
    background-color:rgb(15, 5, 199);
    color:rgb(255, 255, 255)
}
footer h4{
    text-align: center;
    margin-top: 75px;
}
.about-me{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
    position: relative;
}
.about-me h2{
    font-size: 42px;
    color: rgb(15, 5, 199);
}
#about{
    font-size: 28px;
    padding-left: 30px;
    padding-right: 30px;
}